@model hocsql.Models.tblStaff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Staf/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
